/* add your CSS here */
.card-container {
    border: 4px solid #e7c6c8;
    padding: 5px 18px;
    width: 30%;
    margin: 0 auto;
    margin-top: 2%;
    background: #e9dede;
    border-radius: 20px;
}

.card-title {
  color: #89307d;
}

.card-image {
  width: 100%;
    border-radius: 12px;
    border: 2px solid #62628e;
}

.bottom-content {
    margin-top: -12px;
}


.stats-list {
  list-style: none;
  padding: 0;
}
.scientific-header {
  font-weight: normal;
}
.stats-list li a {
  color: rgb(29, 53, 175);
  text-decoration: none;
}
.stats-list li a:hover {
  color: rgb(77, 89, 149);
}