/* add your CSS here */
.card-container {
    border: 4px solid rgb(243, 243, 126);
    padding: 5px 18px;
    width: 30%;
    margin: 0 auto;
    margin-top: 2%;
    background: #e9dede;
    border-radius: 20px;
}

.card-title {

}

.card-image {
  width: 100%
}

.bottom-content {

}


.stats-list {

}
.scientific-header {
  font-weight: normal;
}